* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4effa;
}

header {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    background: #9b72cf;
}

header img {
    width: 10rem;
}

nav ul {
    display: flex; 
    gap: 30px;
    list-style: none;
}

nav li:hover {
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}

nav a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

section {
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}

#img1 {
    width: 50vh;
    border-radius: 10px;
}

.info {
    border: 2px solid #c8b1e4;
    border-radius: 8px;
}